*
src/local
!src/
!pkg/zalgo-captcha/lib/
!pkg/zalgo-captcha/native/src/
!pkg/zalgo-captcha/native/build.rs
!pkg/zalgo-captcha/native/Cargo.toml
!pkg/zalgo-captcha/native/Cargo.lock
!pkg/zalgo-captcha/native/artifacts.json
!pkg/zalgo-captcha/package.json
!pkg/zalgo-captcha/package-lock.json
!jest.config.js
!tests/
!types/
!tsconfig.json
!package.json
!package-lock.json
