{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline"
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-extra-semi": "error",
    "semi-spacing": [
      1,
      {
        "before": false,
        "after": true
      }
    ],
    "spaced-comment": [
      "error",
      "always"
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-unused-vars": [
      "off",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-trailing-spaces": "error",
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "no-underscore-dangle": "warn",
    "prefer-arrow-callback": "error",
    "eol-last": [
      "error",
      "always"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "no-multi-spaces": "error",
    "prefer-const": "error",
    "no-const-assign": "error",
    "max-lines": [
      "warn",
      {
        "max": 500,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "eqeqeq": [
      "error",
      "smart"
    ],
    "no-unreachable": "error",
    "consistent-return": "error",
    "no-return-await": "error",
    "no-mixed-operators": "error",
    "no-nested-ternary": "error",
    "no-dupe-keys": "error",
    "no-mixed-requires": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-confusing-arrow": "warn",
    "no-useless-rename": "error",
    "import/no-cycle": 0,
    "import/no-useless-path-segments": 0,
    "import/export": 0,
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "constructor-super": "error",
    "generator-star-spacing": [
      "error",
      "after"
    ],
    "no-class-assign": "error",
    "no-dupe-class-members": "error",
    "no-this-before-super": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-spread": "error",
    "prefer-template": "warn",
    "require-yield": "error",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": [
      "error"
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-floating-promises": [
      "error"
    ]
  }
}
